Fix updated RFCs

The current document lists RFC6614, RFC7360 and RFC7930 as "updates:".
The Error-Code Attribute defined in RFC5176 is updated inline.

* [ ] RFC7930:
  * [ ] Update Abstract/Introduction and draft text to clearly state which parts of RFC7930 are updated
  or
  * [ ] Remove RFC7930 from the list of updated RFCs
* [ ] RFC5176
  * [ ]  Add RFC5176 to the list of updated RFCs
  * [ ] Add text to Abstract/Introduction briefly explaining the update
  
I don't think that the spec can be rewritten that RFC5176 is not updated.